*{
    padding:0;
    margin:0;
}
html,body
{
    min-height:100%;
}
h1,h2,h3,h4,h5,h6,h7,span,img
{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
body
{
    font-family: 'Kanit', sans-serif;

}
.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    display: flex;
    overflow-x: auto;
    background-color: rgb(250, 250, 250);

}

.nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    max-width: 25%;
    /* color: lightgrey; */
    white-space: nowrap;
    
    font-size: 15px;
    text-decoration: none;
    pointer-events: fill;
    
}
.scroll::-webkit-scrollbar
{
    display:none;
}
.scroll
{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.nav__link:hover
{
    color:inherit !important;
}


.nav__link--active {
    color: #009578;
}

.nav__icon {
    font-size: 24px;
    color: #898E9C;
}
.nav__text {
    font-size: 12px;
    color: #898E9C;
    text-transform: uppercase;
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

.dcolor
{
    color:rgb(0, 179, 122);
}
#dcolor
{
    color:rgb(0, 179, 122);
}
.dunzobg
{
    background:rgb(0, 179, 122);
}
.ripple 
{
    position:relative;
    overflow: hidden;
    transform: translate3d( 0 , 0 , 0 )
}

.ripple:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, rgb(105, 100, 100) 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 100%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform .3s, opacity 0.8s;
  }
  
  .ripple:active:after {
    transform: scale(0, 0);
    opacity: .6;
    transition: 0s;
  }

.s_container 
{
    width:100%;
    padding:0;
    margin-left:0;
    background-color: white;
}
.location
{
    display:flex;
    align-items:center;
    justify-content: space-between; 
    width: 100%;
    
}

.header {
    width:100%;
    padding:5px;
    background-color: white;
    position: fixed;
    top: 0;
    height: 50px;
    display: flex;
    
}
.location-left {
    display: flex;
    align-items: center;
    
    padding:7px 0 7px 0;
    margin: 5px 2px 0 2px ;
    
}
.location-right
{ 
    display: flex;
    align-items: center;
    padding-top: 5px;
    margin: 0 2px 0 2px ;
}
.location-right>i
{
    padding:0 10px 0 25px;
    
}


.location_text {
    font-size:18px;
    margin-left:5px;
    margin-right:5px;
    font-weight: bold;
    color: black;
    
}

.location_icon {
    /* padding: 5px; */
    color:rgb(0, 179, 122);
    font-size: 30px;
}

.locationarrow {
    
}
.dailyhead
{
    /* padding:10px; */
    padding-top:0;
}
.dailyhead>h5
{
    margin-bottom:0;
}
.dailyhead>h6
{
    margin-top:5px;
}
.daily
{
    padding:10px;
}
.s_search{
    display: flex;
    margin: 25px 10px 25px 10px;
    /* margin-top:55px; */
    background: white;
    border:1px solid gray;
    padding: 5px 15px 5px 15px;
    flex-direction: reverse-row;
    align-items: center;
    border-radius: 5px;

}
.s_search>input
{
    border:none;
    background:white;
    /* margin-left:10px; */
    padding: 5px 5px 5px 10px;
    font-weight: 100;
    
}

*:focus {
    outline: none;
}
input
{
    caret-color:lightgreen;
}
::placeholder
{
    
    color: rgb(122, 119, 119);
}
footer
{
    bottom:0;
    position:fixed;
    bottom: 0;
    width: 100%;
    z-index: 10;
    /* padding:5px; */
    display:flex;
    flex-direction: column;
}
footer>ul>li
{

   
    text-align: center;
    width:25%;
}
footer>ul>li>img
{

width:35%;
filter:sepia(100);
}

.nav-link{
    padding:2px;
    color:gray;
}
.active
{
     color:rgb(0, 179, 122);
}

footer>ul>li>a
{
    font-size: 13px;
}
.scroll
{
    display: flex;

    margin-left: -8px;
    margin-right: -8px;
    width:100%;
    display:block;
    overflow-x: auto;
    
}
.pillsrow{

    
    display:flex;
    flex-direction: row;
    
    padding:0 10px 0 10px;
}
.pill
{
    flex: 0 0 25%;
        padding-left: 8px;
        padding-right: 8px;
    background-color: #BCF9D4 !important;
    align-items: center;
    text-align:center;
    flex-basis:auto;
    padding:2px 10px 2px 10px;
    margin: 5px 10px 5px 10px;
    border-radius:20px;
}

.adbanner
{
    display: flex;
    padding:20px;
    background:#00E89C;
    margin:20px;
}
.adbanner>h5
{
    font-weight:600;
}
.adbanner>img   
{
    width:40%;
    right: 10px;
    top: 267px;
    
    position:absolute;
}