
*{
    padding:0;
    margin:0;
}

body
{
    font-family: 'Kanit', sans-serif;

}
.container_top
{
    background-color:white;
    padding:10px;
    
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    /* margin: 15% auto; 15% from the top and centered */
    /* padding: 20px; */
    border: 1px solid #888;
    width: 100%; /* Full width */
    height: 100%;  /* Could be more or less, depending on screen size */
  }

  .modal-header {
    padding: 2px 16px;
    /* color: white; */
    display: flex;  
    align-items: center;
  }
  
  /* Modal Body */
  .modal-body {padding: 2px 16px;}
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  #map
  {
      width: 100%;
      height: 700px;
  }

.container
{
    
    padding:0;
}
.s_container 
{
    width:100%;
    padding:0;
    margin-left:0;
    background-color: white;
}
.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 55px;
    display: flex;
    overflow-x: auto;
    background-color: rgb(250, 250, 250);

}

.nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    max-width: 25%;
    
    white-space: nowrap;
    
    font-size: 15px;
    text-decoration: none;
    pointer-events: fill;
    
}



.nav__link--active {
    color: #009578;
}

.nav__icon {
    font-size: 22px;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

.dcolor
{
    color:rgb(0, 179, 122);
}
#dcolor
{
    color:rgb(0, 179, 122);
}

.noref
{
    text-decoration: none;
}
.ripple 
{
    position:relative;
    overflow: hidden;
    transform: translate3d( 0 , 0 , 0 )
}

.ripple:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, rgb(129, 120, 120) 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform .3s, opacity 1s;
  }
  
  .ripple:active:after {
    transform: scale(0, 0);
    opacity: .3;
    transition: 0s;
  }

.container 
{
    width:100%;
    margin-left:0;
    background-color: rgba(255, 255, 255, 0.25);
}
.location
{
    display:flex;
    align-items:center;
    justify-content: space-between; 
    width: 100%;
    
}
/* .location > button {
    border: 0;
    background-color: red !important;
    outline: none
} */

.header {
    width:100%;
    padding:5px;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 1000;
    height: 50px;
    display: flex;
    
}
.location-left {
    display: flex;
    align-items: center;
    
    padding:7px 0 7px 0;
    margin: 5px 2px 0 2px ;
    
}
.location-right
{ 
    display: flex;
    align-items: center;
    padding-top: 5px;
    margin: 0 2px 0 2px ;
}
.location-right>i
{
    padding:15px;
    margin-right:10px;
    border-radius:50%;
    transition: background 0.8s;
}


.location_text {
    font-size:18px;
    margin-left:5px;
    margin-right:5px;
    font-weight: bold;
    color: black;
    
}

.location_icon {
    /* padding: 5px; */
    color:rgb(0, 179, 122);
    font-size: 30px;
}

.locationarrow {
    margin-top: 5px ;
}

.categorycards
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width:100%;
   
}
.cardmenu
{
    flex-basis:47%;
    background-color: greenyellow;
    border-radius: 5px;
    margin:5px;
    display: flex;
    
}
img
{
    object-fit: contain;
}
.cardmenu>img
{
    width:70%;
}
.cardmenu>span
{
    font-size:16px;
    color:white;
    font-weight:600;
    position:absolute;
    right:10px;
    top:5px;
}
.container_bottom{
    background-color: #F2F3F7;
    
    margin-bottom: 50px;
}
.offers
{
    padding:10px;
    background:white;
    margin-top:20px;
    margin-bottom: 10px;
}
.toppicks
{
    padding:10px;
    background:white;
}
.extracards
{
    
    display: block;
    background-color: white;
    color: black;
    width: 100%;
    overflow-x: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.each_card{
    border: 0 ;
    border-radius: 3px;
    margin:2px;
    padding:0 3px 0 3px;
    /* width:75%; */
    background-color:white;
    /* height: 200px; */
    object-fit: contain;
    align-items:center;
    display: inline-flex;
    flex-direction: column;
    /* box-shadow: 0.3px 0.5px 4px 0px rgba(82, 82, 82, 0.236); */
}

.each_card > img
{
    /* width: 250px;
    height: 150px; */
    border-radius: 5px;
}

.search{
    display: flex;
    margin: 25px 10px 18px 10px;
    margin-top:55px;
    background: white;
    padding: 10px;
    flex-direction: reverse-row;
    align-items: center;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.111);
    border-radius: 5px;

}
.search>input
{
    border:none;
    background:white;
    margin-left:10px;
    font-weight: 100;
}
::placeholder
{
    color: rgb(146, 140, 140);
}
footer
{
    bottom:0;
    position:fixed;
    bottom: 0;
    width: 100%;
    z-index: 10;
    /* padding:5px; */
    display:flex;
    flex-direction: column;
}
footer>ul>li
{

   
    text-align: center;
    width:25%;
}
footer>ul>li>img
{

width:35%;
filter:sepia(100);
}

.nav-link{
    padding:2px;
    color:gray;
}
.active
{
     color:rgb(0, 179, 122);
}

footer>ul>li>a
{
    font-size: 13px;
}

.services
{
    padding:10px;
    display: block;
    background-color: #F2F3F7;

   color: black;
    width: 100%;
    overflow-x: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.services::-webkit-scrollbar
{
    display: none;
}

.cardrow{
  
    align-items: center;
    align-content:center;
    /* background-color: rgb(152, 152, 152); */
  display: block;
  white-space: nowrap;
    
}

.services_card
{
    border: 0 ;
    border-radius: 3px;
    margin:5px;
    padding:0 5px 0 5px;
    width:25%;
    background-color:white;
    height: 100px;
    object-fit: contain;
    align-items:center;
    display: inline-flex;
    flex-direction: column;
    box-shadow: 0.3px 0.5px 4px 0px rgba(82, 82, 82, 0.236);
}

br
{
    line-height: 10px;
}
.servicesicon
{

    height: 40px;
    /* margin-left: 17px; */
    margin-top: 10px; 
    
}
.servicestext
{
    white-space:pre-wrap;
    font-weight:600;
    /* margin-left: 17px; */
    text-align:center;
    
}

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       #map {
        height: 100%;
      }
      
      /* Optional: Makes the sample page fill the window. */
      
      #description {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
      }
      
      #infowindow-content .title {
        font-weight: bold;
      }
      
      #infowindow-content {
        display: none;
      }
      
      #map #infowindow-content {
        display: inline;
      }
      
      .pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        font-family: Roboto;
      }
      
      #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
      }
      
      .pac-controls {
        display: inline-block;
        padding: 5px 11px;
      }
      
      .pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }
      
      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
      }
      
      #pac-input:focus {
        border-color: #4d90fe;
      }
      
      #title {
        color: #fff;
        background-color: #4d90fe;
        font-size: 25px;
        font-weight: 500;
        padding: 6px 12px;
      }
      
      #target {
        width: 345px;
      }